
.section-follow .fa-4x {
  margin: 5px 10px;
}
.logo {
    font-weight: 300;
    padding-left: 40px;
}
#lblGreetings {
  size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.flow-text{
  margin-bottom: 0;

}